.layer{
    font-size: 20px;
    color: black;
    background-color: #fdc5a0;


}


.style { font-style: oblique;

color: rgb(207, 248, 21);
font-size: 40px;
}

.style { font-size: 50px;
color: rgb(95, 248, 48);}

body { 
    background-color:#0f0c09 ;;
margin-left: 150px;
margin-right: 150px;
;}


